
@media screen and (min-width: 460px) {
	.filter-options h2 {
		float: left;
		margin: 0.5em 0 0 0;
	}

	.filter-options select {
		margin: 1em 0 0 1em;
	}
}

@media screen and (min-width: 520px) {
	nav {
		height: 4em;
	}

	nav h1 {
		width: auto;
	}

	nav h1 a {
		line-height: 3.5em;
	}

	#restaurants-list {
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		align-items: normal;
	}

	#restaurants-list li {
		border: 1px solid #ccc;
	    margin: 1em;
	    flex: 0 1 220px;
	    display: flex;
	    flex-direction: column;
	    box-sizing: border-box;
	}

	#restaurants-list .restaurant-img {
		float: none;
		width: 100%;
		max-width: none;
		margin: 0;
	}

	#restaurants-list li a {
		order: 1;
		margin: 0.5em 0 1em 0.5em;
	}

	#restaurants-list li h1 {
		order: 1;
		margin: 0.5em;
	}

	#restaurants-list p {
		order: 1;
		margin: 0 0.5em;
	}

	.inside #maincontent {
		margin: 115px 0 0 0;
	}
}

@media screen and (min-width: 600px) {
	#restaurants-list li {
	    flex: 0 1 250px;
	}
}

@media screen and (min-width: 650px) {
	.inside #maincontent {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.inside #map-container {
		min-width: 50%;
	    flex: 1;
	    order: 1;
	    min-height: 100%;
	    height: 100vh;
	}

	#restaurant-info {
    	max-width: 400px;
    	height: calc(100% - 34px);
    }

	#restaurant-container {
		flex: 1 0;
	    order: 0;
	    border: none;
	    min-width: 280px;
    	max-width: 350px;
	}

	#reviews-container {
		order: 2;
		flex: 1 0;
	}

	#reviews-list {
		display: flex;
    	flex-wrap: wrap;
	}

	#reviews-list li {
		flex: 1;
	    margin: 1em;
	    min-width: 300px;
	}

	.inside #footer {
		width: 100%;
	    z-index: 1000;
	    padding: 1em;
	}
}

@media screen and (min-width: 950px) {
	#maincontent {
		max-width: 900px;
	    margin: 10px auto 20px;
	    padding: 1em;
	}

	.inside #maincontent {
	    margin: 125px auto 20px;
	}

	#restaurants-list li {
		border: 1px solid #ccc;
	    margin: 1em;
	    flex: 0 1 280px;
	    display: flex;
	    flex-direction: column;
	    box-sizing: border-box;
	    max-width: 270px;
	    min-width: 200px;
	}

}